<p id="notice"><%= notice %></p>

<h1>Search Suggestions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_suggestions.each do |search_suggestion| %>
      <tr>
        <td><%= link_to 'Show', search_suggestion %></td>
        <td><%= link_to 'Edit', edit_search_suggestion_path(search_suggestion) %></td>
        <td><%= link_to 'Destroy', search_suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Suggestion', new_search_suggestion_path %>
