<<!-- p id="notice"><%= notice %></p>

<h1>Auto Completes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @auto_completes.each do |auto_complete| %>
      <tr>
        <td><%#= link_to 'Show', auto_complete %></td>
        <td><%#= link_to 'Edit', edit_auto_complete_path(auto_complete) %></td>
        <td><%#= link_to 'Destroy', auto_complete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Auto Complete', new_auto_complete_path %>
 -->

<%= form_tag(auto_completes_path, method: "get", remote: true) do %>
  <%= text_field_tag :search_products, params[:search_products], placeholder: "Enter search term" %>
  <%= submit_tag "Search" %>
<% end %>